<html><head>
    <meta charset="utf-8">
    <title>Wisque Clubbing Project</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Exo+2:400,100,300,500,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,300,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/icons.css">
</head>
<body>

<div id="header">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1><a href="#">Clubbing</a></h1>
                <h2 class="menulink"><a href="#">Menu</a></h2>
                <div id="menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="page.html">About</a></li>
                        <li><a href="page.html">Blog</a></li>
                        <li><a href="page.html">Pricing</a></li>
                        <li class="current"><a href="page.html">Download App</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>

<!-- Start Top -->

<div id="hero">

    <!-- Start Content -->

    <div id="content" class="desktop hero">

        <div class="container">

            <div class="intro align-centered">
                <h2>Announcing wisque <span>clubbing</span> project</h2>
                <h4>Aenean mattis venenatis lacus, vitae varius dui molestie vitae. Proin id urna lacus. Nunc id libero at tortor ultricies tempor eu non felis.</h4>
            </div>

            <div class="clearfix"></div>

            <img src="assets/images/desktop-screenshots.png" alt="Desktop Screenshots" class="promoimg">
        </div>

    </div>

    <!-- End content -->

    <div class="clearfix"></div>

</div>

<!-- End Top -->

<!-- Start panel -->

<div class="panel">

    <div class="container">

        <div class="row">

            <div class="span3">
                <div class="inner align-centered">
                    <div aria-hidden="true" class="icon_desktop large"></div>
                    <h3>Responsive</h3>
                    <p>Phasellus dignissim dictum magna, nec finibus metus convallis in. Cras sollicitudin porta quam vitae dictum. Morbi purus rutrum dignissim.</p>
                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="span3">
                <div class="inner align-centered">
                    <div aria-hidden="true" class="icon_lightbulb_alt large"></div>
                    <h3>Simple &amp; Easy</h3>
                    <p>Cras sollicitudin porta quam vitae dictum. Morbi purus rutrum dignissim. Phasellus dignissim dictum magna, nec finibus metus convallis in. </p>
                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="span3">
                <div class="inner align-centered">
                    <div aria-hidden="true" class="icon_mobile large"></div>
                    <h3>Mobile Friendly</h3>
                    <p>Phasellus dignissim dictum magna, nec finibus metus convallis in. Cras sollicitudin porta quam vitae dictum. Morbi purus rutrum dignissim.</p>
                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="span3">
                <div class="inner align-centered">
                    <div aria-hidden="true" class="icon_calendar large"></div>
                    <h3>Timeless</h3>
                    <p>Phasellus dignissim dictum magna, nec finibus metus convallis in. Cras sollicitudin porta quam vitae dictum. Morbi purus rutrum dignissim.</p>
                    <div class="clearfix"></div>

                </div>
            </div>

        </div>

    </div>

    <div class="clearfix"></div>

</div>

<!-- End panel -->

<!-- Start panel -->

<div class="panel panel-alt box-right">

    <div class="container">

        <div class="row">

            <div class="span6">
                <div class="inner">

                    <h3>Beautiful on every device</h3>
                    <p>Phasellus dignissim dictum magna, nec finibus metus convallis in. Cras sollicitudin porta quam finibus metus convallis vitae dictum. Morbi purus rutrum dignissim.</p>

                    <div class="clearfix"></div>

                    <a href="#" class="button"><span aria-hidden="true" class="arrow_carrot-down_alt"></span> Try the demo</a>
                    <a href="#" class="button button-light"><span aria-hidden="true" class="arrow_carrot-right_alt2"></span> Learn More</a>

                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="span6 hidden">
                <div class="clearfix"></div>
            </div>

        </div>

    </div>

    <div class="image-box"></div>

    <div class="clearfix"></div>

</div>

<!-- End panel -->

<div class="clearfix"></div>

<!-- Start panel -->

<div class="panel panel-alt box-left">

    <div class="container">

        <div class="row">


            <div class="span6 hidden">
                &nbsp;<div class="clearfix"></div>
            </div>

            <div class="span6">
                <div class="inner inner-shift">

                    <h3>Super easy to customize</h3>
                    <p>Phasellus dignissim dictum magna, nec finibus metus convallis in. Cras sollicitudin porta quam vitae dictum. Morbi purus finibus metus convallis rutrum dignissim.</p>

                    <div class="clearfix"></div>

                    <a href="#" class="button"><span aria-hidden="true" class="icon_mail"></span> Get in touch</a>
                    <a href="#" class="button button-light"><span aria-hidden="true" class="arrow_carrot-right_alt2"></span> Learn More</a>

                    <div class="clearfix"></div>

                </div>
            </div>

        </div>

    </div>

    <div class="image-box"></div>

    <div class="clearfix"></div>

</div>

<!-- End panel -->

<div class="clearfix"></div>

<!-- Start panel -->

<div class="panel price">

    <div class="container">

        <div class="inner intro align-centered">
            <h3>Get Started today</h3>
            <p>Lorem sollicitudin porta quam vitae ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. </p>
        </div>

        <div class="clearfix"></div>

        <div class="row align-centered">

            <div class="span3">

                <div class="option">

                    <h3>Basic</h3>
                    <span class="spacer"></span>

                    <h2>$16<span>/mo</span></h2>

                    <ul>
                        <li>10GB Monthly Bandwidth</li>
                        <li>5GB Disk Space</li>
                        <li>20 E-mail accounts</li>
                        <li>8 subdomains</li>
                        <li>24/24 Ultimated support</li>
                    </ul>

                    <a href="#" class="button">Buy now</a>

                    <div class="clearfix"></div>

                </div>

            </div>

            <div class="span3">

                <div class="option">
                    <div class="ribbon">
                        <a href="#">Popular</a>
                    </div>
                    <h3>Premium</h3>
                    <span class="spacer"></span>

                    <h2>$22<span>/mo</span></h2>

                    <ul>
                        <li>10GB Monthly Bandwidth</li>
                        <li>5GB Disk Space</li>
                        <li>20 E-mail accounts</li>
                        <li>8 subdomains</li>
                        <li>24/24 Ultimated support</li>
                    </ul>

                    <a href="#" class="button button-dark">Buy now</a>

                    <div class="clearfix"></div>

                </div>

            </div>

            <div class="span3">

                <div class="option">

                    <h3>Pro</h3>
                    <span class="spacer"></span>

                    <h2>$10<span>/mo</span></h2>

                    <ul>
                        <li>10GB Monthly Bandwidth</li>
                        <li>5GB Disk Space</li>
                        <li>20 E-mail accounts</li>
                        <li>8 subdomains</li>
                        <li>24/24 Ultimated support</li>
                    </ul>

                    <a href="#" class="button">Buy now</a>

                    <div class="clearfix"></div>

                </div>

            </div>

            <div class="span3">

                <div class="option">

                    <h3>Starter</h3>
                    <span class="spacer"></span>

                    <h2>$4<span>/mo</span></h2>

                    <ul>
                        <li>10GB Monthly Bandwidth</li>
                        <li>5GB Disk Space</li>
                        <li>20 E-mail accounts</li>
                        <li>8 subdomains</li>
                        <li>24/24 Ultimated support</li>
                    </ul>

                    <a href="#" class="button">Buy now</a>

                    <div class="clearfix"></div>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- End panel -->

<div class="clearfix"></div>

<!-- Start footer -->

<div class="panel" id="footer">

    <div class="container">

        <div class="row">

            <div class="span12">

                <div class="inner align-centered">

                    <a href="#"><span aria-hidden="true" class="social_facebook medium"></span></a>
                    <a href="#"><span aria-hidden="true" class="social_twitter medium"></span></a>
                    <a href="#"><span aria-hidden="true" class="social_pinterest medium"></span></a>
                    <a href="#"><span aria-hidden="true" class="social_instagram medium"></span></a>
                    <a href="#"><span aria-hidden="true" class="social_vimeo medium"></span></a>
                    <a href="#"><span aria-hidden="true" class="social_youtube medium"></span></a>
                    <a href="#"><span aria-hidden="true" class="social_flickr medium"></span></a>

                    <div class="clearfix"></div>

                    <div class="copyright">
                        © 2016 <a href="#">Wisque Clubbing</a>.
                    </div>

                    <div class="clearfix"></div>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- End footer -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/core.js"></script>
<!--[if lte IE 7]><script src="assets/css/lte-ie7.js"></script><![endif]-->

</body></html>